body {}

.main {
    width: 25%;
    margin: auto;
    margin-top: 30vh;
}

.btn {
    display: grid;
    grid: auto auto / auto auto auto auto;
    grid-gap: 10px;
    background-color: black;
    padding: 10px;
}

.buttons,
.switch,
#clear,
#equals {
    background-color: grey;
    text-align: center;
    color: white;
    padding: 10px 10px;
    font-size: 30px;
}

.screen {
    height: 120px;
    background-color: white;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

.inner-screen {
    height: 50px;
    border: 1px solid black;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
}

.inner-screen-two {
    height: 50px;
    border: 1px solid black;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
}

.function {
    width: 20px;
    height: 1rem;
    float: right;
    border: 1px solid red;
    display: grid;
    place-content: center;
    padding: 1px;
    font-size: 24px;
    font-weight: 700;
}